@model IEnumerable<InstituteOfFineArts.Models.Desigin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>            
            <img src="@item.Path" style="height:100px;width:100px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Date, "{0:dd/MM/yyyy}")
        </td>       
               
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DesiginId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DesiginId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DesiginId })
        </td>
    </tr>
}

</table>
